<h1>Cars#new</h1>
<p>Find me in app/views/cars/new.html.erb</p>

<div class="container">

    <form action="#" method="post">
        <input type="text" name="carName" placeholder="Add a car here">
        <button type="submit">Add</button>
    </form>

  </div>

  <br>

</div>

