<h1>Cars#show</h1>
<p>Find me in app/views/cars/show.html.erb</p>
<div class="container">

<h5 class="card-title">Cars for Sale</h5>
<div class="list-group">   
      <a>make: Audi, model:A3 S line Auto quattro, year:2018, color: White<span style="float:right">
          <form action="#" method="post">
            <button type="submit">X</button>
          </form>
        </span>
      </a>     
    <a>make: Audi, model: S3 Auto quattro, year:2019, color: Black<span style="float:right">
          <form action="#" method="post">
            <button type="submit">X</button>
          </form>
        </span>
      </a>     

    <br/>

    <form action="#" method="post">
        <input type="text" name="carName" placeholder="Add a car here">
        <button type="submit">Add</button>
    </form>

  </div>

  <br>

</div>

